/lila       text eol=lf
/ui/build   text eol=lf
public/lifat/background/gallery/bg15.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg20.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/helena.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/shark.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/specops-lady.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg27.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/coral.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/danny.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/nacho.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg19.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/dansby.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/marco.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/soldier-torso.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg12.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg16.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg22.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg26.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg28.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/henry.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/louise.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg02.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg08.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg13.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/gary.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/grunt.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/maia.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg04.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg07.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg14.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/benny.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg06.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg17.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg23.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/montage2.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/mitsoko.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg03.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg10.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/baby-robot.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/floyd.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg05.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg11.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg25.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/burro.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/terrence.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/owen.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/witch2.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg01.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg09.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg21.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/greta.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/larry.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/listress.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/baby-howard.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/beatrice.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/images/witch1.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg18.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/gallery/bg24.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/background/montage4.webp filter=lfs diff=lfs merge=lfs -text
public/lifat/nnue/nn-0000000000a0.nnue filter=lfs diff=lfs merge=lfs -text
public/lifat/nnue/nn-4fd273888b72.nnue filter=lfs diff=lfs merge=lfs -text
public/lifat/nnue/nn-5af11540bbfe.nnue filter=lfs diff=lfs merge=lfs -text
public/lifat/nnue/nn-ecb35f70ff2a.nnue filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-ko-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-ru-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-vi-0.4.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-ca-0.4.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-cn-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-es-0.42.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-fr-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-de-0.15.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-fa-0.4.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-ja-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-tr-0.3.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-eo-0.42.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-it-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-pl-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-uz-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-nl-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-pt-0.3.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-uk-v3.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-cs-0.4.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-en-us-0.15.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-hi-0.22.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/vosk/model-kz-0.15.tar.gz filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/maia-1700.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/maia-1900.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/naise700.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/maia-1300.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/maia-1400.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/maia-1500.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/maia-1600.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/maia-1800.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/nocap2000.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/maia-1100.pb filter=lfs diff=lfs merge=lfs -text
public/lifat/bots/weights/maia-1200.pb filter=lfs diff=lfs merge=lfs -text
